<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app" layout:fragment="content">
    <h4>Danh sách mã giảm giá</h4>

    <div class="my-3">
        <form th:action="@{/admin-only/discounts}" method="get" class="my-3">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="code">Mã giảm giá</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="Nhập mã, tên" th:value="${dataSearch.keyword}">
                </div>

                <div class="form-group col-md-2">
                    <label>Ngày áp dụng</label>
                    <input type="date" class="form-control" id="startDate" name="startDate" th:value="${#dates.format(dataSearch.startDate, 'yyyy-MM-dd')}">
                </div>

                <div class="form-group col-md-2">
                    <label>Ngày kết thúc</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" th:value="${#dates.format(dataSearch.endDate, 'yyyy-MM-dd')}">
                </div>

                <div class="form-group col-md-2">
                    <label>Trạng thái</label>
                    <select class="form-control" id="status" name="status">
                        <option value="">Tất cả</option>
                        <option value="1" th:selected="${dataSearch.status == 1}">Đang hoạt động</option>
                        <option value="0" th:selected="${dataSearch.status == 0}">Đã đóng</option>
                        <option value="2" th:selected="${dataSearch.status == 2}">Sắp diễn ra</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label>Số lượng còn</label>
                    <input type="text" class="form-control" id="maximumUsage" name="maximumUsage" placeholder="1234" th:value="${dataSearch.maximumUsage}">
                </div>
            </div>

            <button type="submit" class="btn btn-primary m-1">
                <i class="fa fa-search"></i> Tìm kiếm
            </button>
            <a th:href="@{/admin-only/discounts}" class="btn btn-secondary m-1">Hủy bỏ</a>
        </form>
        <div class="text-right">
            <form th:action="@{/admin-only/form-add-discount}" method="get" style="display:inline;">
                <button type="submit" class="btn btn-success rounded-pill" style="width: 100px">Thêm</button>
            </form>
        </div>
    </div>

    <div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>
    <table class="table my-3">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã giảm giá</th>
            <th scope="col">Tên mã giảm giá</th>
            <th scope="col">Bắt đầu</th>
            <th scope="col">Kết thúc</th>
            <th scope="col">Mức giảm</th>
            <th scope="col">Giảm tối đa</th>
            <th scope="col">Đơn tối thiểu</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discountCode, iStat : ${discountPage.content}">
            <th scope="row" th:text="${iStat.count}"></th>
            <td th:text="${discountCode.code}"></td>
            <td th:text="${discountCode.name}"></td>
            <td th:text="${#temporals.format(discountCode.startDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(discountCode.endDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="${discountCode.type == 1 ? discountCode.percentage + ' %' : #numbers.formatDecimal(discountCode.discountAmount, 0, 'POINT', 0, 'COMMA') + ' đ'}"></td>
            <td th:if="${discountCode.maximumAmount != null}"
                th:text="${#numbers.formatDecimal(discountCode.maximumAmount, 0, 'POINT', 0, 'COMMA') + ' đ'}">
            </td>
            <td th:if="${discountCode.maximumAmount == null}"></td>


            <td th:text="${#numbers.formatDecimal(discountCode.minimumAmount, 0, 'POINT', 0, 'COMMA') + ' đ'}"></td>
            <td th:text="${discountCode.maximumUsage}"></td>
            <td>
                <span th:if="${discountCode.status == 1}"
                      th:id="'status-' + ${discountCode.id}"
                      class="border border-success text-success rounded px-1">Đang hoạt động</span>
                <span th:if="${discountCode.status == 0}"
                      th:id="'status-' + ${discountCode.id}"
                      class="border border-danger text-danger rounded px-1">Đã đóng</span>
                <span th:if="${discountCode.status == 2}"
                      th:id="'status-' + ${discountCode.id}"
                      class="border border-warning text-warning rounded px-1">Sắp diễn ra</span>

            </td>
            <td>
                <form th:action="@{/admin-only/change-discount-status}" method="post" class="form-close-discount d-inline">
                    <input type="hidden" name="id" th:value="${discountCode.id}">
                    <button type="submit" class="btn btn-sm btn-outline-primary" title="Đổi trạng thái">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                        </svg>
                    </button>
                </form>
                <form th:action="@{/admin-only/detailDiscount/{id}(id=${discountCode.id})}" method="get" class="form-open-discount d-inline">
                    <button type="submit" class="border-0 bg-transparent close-btn cursor-pointer" title="Mở mã giảm giá">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585l1.594-1.58zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006v-1.589z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"/></svg>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/admin-only/discounts(page=${currentPage - 1}, size=${discountPage.size})}">Trước</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/admin-only/discounts(page=${i}, size=${discountPage.size})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/admin-only/discounts(page=${currentPage + 1}, size=${discountPage.size})}">Tiếp</a>
            </li>
        </ul>
    </nav>
    <div class="float-right">
        <ul id="pagination" class=""></ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:inline="javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script th:inline="javascript">
        var totalPage = /*[[${totalPage}]]*/ '';
        var currentPage = /*[[${currentPage}]]*/ '';

        $(".form-close-discount").on('submit', function (e) {
            e.preventDefault();
            var form = this; // select the form

            Swal.fire({
                title: 'Đổi trạng thái mã giảm giá',
                text: 'Bạn chắc chắc muốn đổi trạng thái mã giảm giá này?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'Hủy',
                confirmButtonText: 'Xác nhận',
                reverseButtons: true
            }).then(async (result) => {
                if (result.isConfirmed) {

                    form.submit()
                }
            })
        })

        var url = '/admin-only/discount-code?page=0';
        $('#search-btn').on('click', function () {

            var code = $('#code').val().trim()
            // var detail = $("#name").val().trim()
            var startDate = $("#startDate").val()
            var endDate = $("#endDate").val()
            var status = $("#status").val()

            if(startDate && endDate) {
                if(startDate >= endDate) {
                    Swal.fire({
                        text: 'Ngày bắt đầu phải nhỏ hơn ngày kết thúc',
                        icon: 'error'
                    })
                    return
                }

            }

            if (code) {
                url += '&code=' + code
            }
            // if(detail) {
            //     url += '&detail=' + detail
            // }
            if(startDate) {
                url += '&startDate=' + startDate
            }
            if(endDate) {
                url += '&endDate=' + endDate
            }
            if(status) {
                url += '&status=' + status
            }
            window.location.href = url
        })

        $('#pagination').twbsPagination({
            startPage: parseInt(currentPage) + 1,
            totalPages: parseInt(totalPage),
            visiblePages: 5,
            first: '<i class="fas fa-angle-double-left"></i>',
            next: '<i class="fas fa-angle-left"></i>',
            prev: '<i class="fas fa-angle-right"></i>',
            last: '<i class="fas fa-angle-double-right"></i>',
            initiateStartPageClick:false,

            onPageClick: function (event, page) {
                var cleanedUrl = url.replace(/[?&]page=\d+/, '');
                cleanedUrl += '&page=' + page
                window.location.href = cleanedUrl
            }
        });
    </script>
    <script>
        function updateStatuses() {
            fetch('/admin-only/discount-statuses')
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        const element = document.getElementById('status-' + item.id);
                        if (element) {
                            if (item.status === 1) {
                                element.textContent = 'Đang hoạt động';
                                element.className = 'border border-success text-success rounded px-1';
                            } else if (item.status === 0) {
                                element.textContent = 'Đã đóng';
                                element.className = 'border border-danger text-danger rounded px-1';
                            } else if (item.status === 2) {
                                element.textContent = 'Sắp diễn ra';
                                element.className = 'border border-warning text-warning rounded px-1';
                            }
                        }
                    });
                });
        }
        setInterval(updateStatuses, 60000); // cập nhật mỗi 5 giây
    </script>


</div>

</body>
</html>