<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">

    <title>Title</title>

    <link rel="icon" type="image/png" th:href="@{/image1/icons/J.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

</head>
<body>


    <div layout:fragment="content">

        <!-- Title page -->
        <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('image1/bg-01.jpg');">
            <h2 class="ltext-105 cl0 txt-center">
                About
            </h2>
        </section>


        <!-- Content page -->
        <section class="bg0 p-t-75 p-b-120">
            <div class="container">
                <div class="row p-b-148">
                    <div class="col-md-7 col-lg-8">
                        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                            <h3 class="mtext-111 cl2 p-b-16">
                                Về chúng tôi
                            </h3>

                            <p class="stext-113 cl6 p-b-26">
                                Chào mừng bạn đến với thế giới giày của chúng tôi — nơi mỗi bước chân đều mang theo dấu ấn cá nhân và phong cách riêng biệt. Chúng tôi là cửa hàng giày uy tín, cam kết mang đến cho bạn những trải nghiệm mua sắm đậm chất thời trang và đầy cảm hứng.                            </p>

                            <p class="stext-113 cl6 p-b-26">
                                Tại đây, chúng tôi không chỉ bán giày – chúng tôi kể câu chuyện về sự chuyển động, phong cách và sự tự tin. Từ những đôi sneaker năng động, boots cá tính, đến giày công sở thanh lịch, mỗi sản phẩm đều được chọn lọc kỹ lưỡng để phù hợp với nhiều cá tính và nhu cầu khác nhau.                            </p>

                            <p class="stext-113 cl6 p-b-26">
                                Hơn cả một cửa hàng, chúng tôi mong muốn trở thành người bạn đồng hành trong mỗi bước chân của bạn – từ phố phường thường nhật đến những dịp đặc biệt quan trọng.                            </p>

                            <p class="stext-113 cl6 p-b-26">
                                Bạn có câu hỏi nào? Vui lòng liên hệ cửa hàng tại Tòa nhà FPT Polytechnic, Cổng số 2, 13 P. Trịnh Văn Bô
                            </p>
                        </div>
                    </div>

                    <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                        <div class="how-bor1 ">
                            <div class="hov-img0">
                                <img src="/image1/about-01.png" alt="IMG">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                        <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                            <h3 class="mtext-111 cl2 p-b-16">
                                Sứ mệnh
                            </h3>

                            <p class="stext-113 cl6 p-b-26">
                                Tại cửa hàng giày của chúng tôi, sứ mệnh không chỉ đơn thuần là bán những đôi giày – mà là tạo ra những trải nghiệm độc đáo và đầy cảm xúc cho từng khách hàng. Chúng tôi không chỉ cung cấp sản phẩm chất lượng, mà còn truyền tải một thông điệp về phong cách sống, sự tự tin và chuyển động không ngừng.                            </p>

                            <p class="stext-113 cl6 p-b-26">
                                Sứ mệnh của chúng tôi là giúp mỗi người tự tin bước đi trên hành trình của chính mình. Chúng tôi tin rằng: mỗi bước chân đều có thể kể một câu chuyện, và một đôi giày tốt là khởi đầu cho mọi hành trình vững chắc. Giày không chỉ là phụ kiện – mà là cách bạn thể hiện bản thân, cá tính và khát vọng.                   </p>

                            <div class="bor16 p-l-29 p-b-9 m-t-22">
                                <p class="stext-114 cl6 p-r-40 p-b-11">
                                    Chúng tôi không ngừng nỗ lực để mang đến những đôi giày không chỉ đẹp mắt, mà còn truyền cảm hứng — để bạn không chỉ bước đi, mà bước tiến về phía trước, với niềm tin và phong cách riêng biệt.                                </p>

                                <span class="stext-111 cl8">
								- Mr.Sang
							</span>
                            </div>
                        </div>
                    </div>

                    <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                        <div class="how-bor2">
                            <div class="hov-img0">
                                <img src="/image1/about-02.jpg" alt="IMG">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
        </div>
    </div>


<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

</body>
</html>