<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>


</head>
<body>

<div layout:fragment="content">


    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div class="row">
            <div class="col-sm-7">
                <strong style="font-size: 20px;display: block; margin-bottom: 20px">Thông tin sản phẩm</strong>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tên sản phẩm</th>
                            <th>Kích thước</th>
                            <th>Màu sắc</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img th:src="${productDetail.images[0].link}" style="width: 120px"></td>
                            <td th:text="${productDetail.product.name}"></td>
                            <td th:text="${productDetail.size.name}"></td>
                            <td th:text="${productDetail.color.name}"></td>
                            <td th:text="${numProduct}"></td>
                            <td>[[${#numbers.formatDecimal(productDetail.price, 0, 'COMMA', 0, 'POINT')}]].đ</td>
                            <td>[[${#numbers.formatDecimal(productDetail.price * numProduct, 0, 'COMMA', 0, 'POINT')}]].đ</td>
                        </tr>
                    </tbody>
                </table>
                <span><span style="color: red; font-weight: bold; font-size: 1.1rem">Lưu ý: </span>
                    <span  style="color: #333; font-weight: bold; font-size: 1.1rem">Hãy <a href="/user-login">đăng nhập</a> để sử dụng các mã giảm giá từ website</span></span>
            </div>
            <div class="col-sm-5">
                <strong style="font-size: 20px;display: block; margin-bottom: 20px">Thông tin đặt hàng</strong>
                <form onsubmit="return window.confirm('Xác nhận đặt hàng')" method="post" action="/buynow">
                    <input type="hidden" name="time" th:value="${param.time}">
                    <input type="hidden" name="quantity" th:value="${numProduct}">
                    <label style="display: block; margin-top: 20px; margin-bottom: 7px">Họ tên</label>
                    <input class="form-control" name="fullName" required>
                    <label style="display: block; margin-top: 20px; margin-bottom: 7px">Số điện thoại</label>
                    <input class="form-control" name="phone" required>
                    <label style="display: block; margin-top: 20px; margin-bottom: 7px">Email</label>
                    <input class="form-control" name="email">
                    <label style="display: block; margin-top: 20px; margin-bottom: 7px">Địa chỉ nhận hàng</label>
                    <input class="form-control" name="address" required>
                    <label style="display: block; margin-top: 20px; margin-bottom: 7px">Ghi chú</label>
                    <textarea class="form-control" name="note"></textarea>
                    <br>
                    <button class="btn btn-primary form-control">Xác nhận đặt hàng</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:inline="javascript"></script>
</div>

</body>
</html>