<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="icon" type="image/png" th:href="@{/image1/icons/J.png}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>


</head>
<style>
  .wrap-slick3 {
    display: flex;
    align-items: flex-start;
  }

  .wrap-slick3-dots {
    width: 80px;
    margin-right: 20px;
  }

  .slick3 {
    flex: 1;
  }
  .selected {
    background-color: #000 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
  }
</style>
<body>

<div layout:fragment="content">
  <div id="loading-overlay">
    <div class="loading-spinner"></div>
  </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Yêu cầu đăng nhập</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vui lòng đăng nhập để tiếp tục sử dụng chức năng này.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <a href="/user-login" class="btn btn-primary">Đăng nhập</a> <!-- Update the URL to your login page -->
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb -->
  <!--    <div class="container">-->
  <!--        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">-->
  <!--            <a th:href="@{/}" class="stext-109 cl8 hov-cl1 trans-04">-->
  <!--                Home-->
  <!--                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>-->
  <!--            </a>-->

  <!--            <a th:href="@{/getproduct}" class="stext-109 cl8 hov-cl1 trans-04">-->
  <!--                Shop-->
  <!--                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>-->
  <!--            </a>-->

  <!--            <span class="stext-109 cl4" th:text="${product.category.name}">-->

  <!--			</span>-->
  <!--        </div>-->
  <!--    </div>-->


  <!-- Product Detail -->
  <section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
          <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
              <div class="wrap-slick3-dots"></div>
              <div class="slick3 gallery-lb">
                <th:block th:each="image : ${product.productDetailDtos[0].images}">
                  <div class="item-slick3" th:data-thumb="'/' + ${image.link}">
                    <div class="wrap-pic-w pos-relative">
                      <img th:src="@{'/' + ${image.link}}" alt="IMG-PRODUCT" />
                      <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                         th:href="@{'/' + ${image.link}}">
                        <i class="fa fa-expand"></i>
                      </a>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 p-b-30">
          <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14" th:text="${product.name}">
            </h4>

            <span class="mtext-106 cl2" id="price_product" th:text="${#numbers.formatDecimal(product.productDetailDtos[0].price, 0, 'POINT', 0, 'COMMA') + ' đ'}"></span>

            <p class="stext-102 cl3 p-t-23">
              <span ><i class="fa fa-copyright"></i></span>&nbsp;Nhãn hiệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].brandName}"></span> <br>

              <span><i class="fa fa-puzzle-piece"></i></span>&nbsp;Chất liệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].materialName}"></span> <br>

              <span><i class="fa fa-cubes"></i></span>&nbsp;Loại: <span class="font-weight-bold" th:text="${product.categoryName}"></span> <br>
              <!--                            Với cách phối màu khác kết hợp với đường viền ở tay và cổ áo đã làm thiết kế trở nên nổi bật và trẻ trung hơn. Chi tiết túi được may bên trong áo đã thể hiện được sự tinh tế của thiết kế khi vừa giữ được tính thẩm mỹ cho trang phục-->
            </p>

            <!--  -->
            <div class="p-t-33">
              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 respon6">
                  Kích cỡ
                </div>
                <div class="size-204 respon6-next">
                  <div class="btn-group flex-wrap d-flex gap-2" role="group" id="size-button-group">
                    <!-- Nút size sẽ được thêm bằng JS -->
                  </div>
                  <input type="hidden" name="size" id="sizeSelect">
                </div>
              </div>
              <div class="flex-w flex-r-m p-b-10">
                <div class="size-203 respon6">
                  Màu Sắc
                </div>
                <div class="size-204 respon6-next">
                  <div class="btn-group flex-wrap d-flex gap-2" role="group" id="color-button-group">
                    <!-- Nút màu sắc sẽ được thêm bằng JS -->
                  </div>
                  <input type="hidden" name="color" id="colorSelect">
                </div>
              </div>

              <input type="hidden" name="productDetailId" id="productDetailId">

              <div class="flex-w flex-r-m p-b-10">
                <div class="size-204 flex-w flex-m respon6-next">
                  <!-- Nhóm số lượng và còn hàng -->
                  <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                           name="num-product" value="1">

                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                  </div>

                  <span class="remaning-product" style="font-size: 12px"></span>
                </div>
              </div>

              <!-- Đưa nút Thêm vào giỏ xuống dưới -->
              <div class="flex-w flex-r-m p-b-10">
                <div class="size-204 flex-w flex-m respon6-next">
                  <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                    Thêm vào giỏ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:inline="javascript"></script>
  <script src="/vendor/slick/slick.min.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var productId = /*[[${product.id}]]*/ 'default-value';
    var productCode = /*[[${product.code}]]*/ 'default-value';
    /*]]>*/
    var isUserLoggedIn = /*[[${#authorization.expression('isAuthenticated()')}]]*/ 'abc';

    let selectedSizeId = null;
    let selectedColorId = null;

    $(document).ready(function () {
      // Load màu sắc
      $.ajax({
        type: 'GET',
        dataType: "json",
        url: "/colors/" + productId + "/product",
        success: function (data) {
          loadColorSelect(data)
        }
      });

      // Load kích cỡ
      $.ajax({
        type: 'GET',
        dataType: "json",
        url: "/sizes/" + productId + "/product",
        success: function (data) {
          loadSizeSelect(data)
        }
      });
    });

    function loadSizeSelect(data) {
      const buttonGroup = document.getElementById("size-button-group");
      buttonGroup.innerHTML = '';

      data.forEach(function (size, index) {
        const btn = document.createElement("button");
        btn.type = "button";
        btn.className = "btn btn-outline-dark size-btn";
        btn.textContent = size.name;
        btn.dataset.value = size.id;

        btn.addEventListener("click", function () {
          // ❌ Sửa lại chỉ xóa selected trong nhóm size
          document.querySelectorAll('#size-button-group .size-btn').forEach(b => b.classList.remove('selected'));
          btn.classList.add('selected');
          selectedSizeId = size.id;
          $("#sizeSelect").val(size.id);
          handleSizeChange(size.id);
        });

        buttonGroup.appendChild(btn);

        if (selectedSizeId == size.id) {
          btn.classList.add("selected");
          $("#sizeSelect").val(size.id);
        }
      });

      // ✅ Chọn mặc định nếu chưa chọn gì
      if (!selectedSizeId && data.length > 0) {
        selectedSizeId = data[0].id;
        document.querySelector(`.size-btn[data-value="${selectedSizeId}"]`).click();
      }
    }

    function loadColorSelect(data) {
      const buttonGroup = document.getElementById("color-button-group");
      buttonGroup.innerHTML = '';

      data.forEach(function (color, index) {
        const btn = document.createElement("button");
        btn.type = "button";
        btn.className = "btn btn-outline-dark color-btn";
        btn.textContent = color.name;
        btn.dataset.value = color.id;

        btn.addEventListener("click", function () {
          // ❌ Sửa lại chỉ xóa selected trong nhóm màu
          document.querySelectorAll('#color-button-group .color-btn').forEach(b => b.classList.remove('selected'));
          btn.classList.add('selected');
          selectedColorId = color.id;
          $("#colorSelect").val(color.id);
          handleColorChange(color.id);
        });

        buttonGroup.appendChild(btn);

        if (selectedColorId == color.id) {
          btn.classList.add("selected");
          $("#colorSelect").val(color.id);
        }
      });

      if (!selectedColorId && data.length > 0) {
        selectedColorId = data[0].id;
        document.querySelector(`.color-btn[data-value="${selectedColorId}"]`).click();
      }
    }

    async function handleColorChange(colorId) {
      if ($("#sizeSelect").val() !== "") {
        // Tùy chọn load giá theo màu + size nếu có
      }

      $('#loading-overlay').show();
      await $.ajax({
        type: 'GET',
        dataType: "json",
        url: `/images/${productId}/product/${colorId}/color`,
        success: function (images) {
          updateProductImages(images);
        },
        error: function () {
          console.error("Không tải được ảnh theo màu.");
        },
        complete: function () {
          $('#loading-overlay').hide();
        }
      });
    }

    function updateProductImages(images) {
      const slickContainer = $(".slick3");
      const dotsContainer = $(".wrap-slick3-dots");

      if (slickContainer.hasClass('slick-initialized')) {
        slickContainer.slick('unslick');
      }
      if (dotsContainer.hasClass('slick-initialized')) {
        dotsContainer.slick('unslick');
      }

      slickContainer.html('');
      dotsContainer.html('');

      const loadImagePromises = [];

      images.forEach((image, index) => {
        const img = new Image();
        img.src = "/" + image.link;

        const loadPromise = new Promise((resolve) => {
          img.onload = resolve;
          img.onerror = resolve;
        });
        loadImagePromises.push(loadPromise);

        const mainItem = `
                <div class="item-slick3" data-thumb="/${image.link}" data-slick-index="${index}">
                    <div class="wrap-pic-w pos-relative">
                        <img src="/${image.link}" alt="IMG-PRODUCT">
                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/${image.link}">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>`;

        const dotItem = `
                <div class="item-slick3" data-slick-index="${index}">
                    <img src="/${image.link}" alt="IMG-PRODUCT" />
                </div>`;

        slickContainer.append(mainItem);
        dotsContainer.append(dotItem);
      });

      Promise.all(loadImagePromises).then(() => {
        slickContainer.slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          asNavFor: '.wrap-slick3-dots'
        });

        dotsContainer.slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: '.slick3',
          dots: false,
          focusOnSelect: true,
          vertical: true,
          verticalSwiping: true,
          arrows: false
        });
      });
    }

    function handleSizeChange(sizeId) {
      // Bạn có thể thêm xử lý load tồn kho hoặc thay đổi giá nếu có
    }

    function checkColorAndSizeSelect() {
      if ($("#colorSelect").val() == "" || $("#sizeSelect").val() == "") {
        swal("Error", "Vui lòng chọn màu sắc và kích thước trước khi thêm vào giỏ", "error");
        return false;
      }
      return true;
    }
  </script>

</div>

</body>
</html>