<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" type="image/png" th:href="@{/image1/icons/J.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<style>
    .wrap-slick3 {
        display: flex;
        align-items: flex-start;
    }

    .wrap-slick3-dots {
        width: 80px;
        margin-right: 20px;
    }

    .slick3 {
        flex: 1;
    }
    .selected {
        background-color: #000 !important;
        color: #fff !important;
        border: 2px solid #000 !important;
    }
    #sizeGuideModal .modal-content {
        width: 100%;
        max-width: 100%;
    }
    #sizeGuideModal .modal-body {
        width: 100%;
    }

    #sizeGuideModal .modal-dialog {
        max-width: 90vw;
        margin: 1.75rem auto;
        transform: translateY(0%) !important;
    }

    /* Ghi đè header xuống dưới modal */
    .header-v4,
    .container-menu-desktop,
    .wrap-menu-desktop,
    .menu-desktop,
    .top-bar {
        z-index: 1000 !important;
        position: relative !important;
    }

    /* Cho modal hiện trên cùng */
    #sizeGuideModal {
        z-index: 10550 !important;
    }

    #sizeGuideModal .modal-dialog {
        z-index: 10560 !important;
        position: relative;
    }

    .modal-backdrop.show {
        z-index: 10500 !important;
    }


</style>
<body>

<div layout:fragment="content">
    <div id="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yêu cầu đăng nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vui lòng đăng nhập để tiếp tục sử dụng chức năng này.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a href="/user-login" class="btn btn-primary">Đăng nhập</a> <!-- Update the URL to your login page -->
                </div>
            </div>
        </div>
    </div>

    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="slick3 gallery-lb">
                                <th:block th:each="image : ${product.productDetailDtos[0].images}">
                                    <div class="item-slick3" th:data-thumb="'/' + ${image.link}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img th:src="@{'/' + ${image.link}}" alt="IMG-PRODUCT" />
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                               th:href="@{'/' + ${image.link}}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14" th:text="${product.name}">
                        </h4>

                        <span class="mtext-106 cl2" id="price_product" th:text="${#numbers.formatDecimal(product.productDetailDtos[0].price, 0, 'POINT', 0, 'COMMA') + ' đ'}"></span>

                        <p class="stext-102 cl3 p-t-23">
                            <span ><i class="fa fa-copyright"></i></span>&nbsp;Thương hiệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].brandName}"></span> <br>

                            <span><i class="fa fa-puzzle-piece"></i></span>&nbsp;Chất liệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].materialName}"></span> <br>

                            <span><i class="fa fa-cubes"></i></span>&nbsp;Loại: <span class="font-weight-bold" th:text="${product.categoryName}"></span> <br>
<!--                            Với cách phối màu khác kết hợp với đường viền ở tay và cổ áo đã làm thiết kế trở nên nổi bật và trẻ trung hơn. Chi tiết túi được may bên trong áo đã thể hiện được sự tinh tế của thiết kế khi vừa giữ được tính thẩm mỹ cho trang phục-->
                        </p>

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 respon6">
                                    Kích cỡ
                                </div>
                                <div class="size-204 respon6-next">
                                    <div class="btn-group flex-wrap d-flex gap-2" role="group" id="size-button-group">
                                        <!-- Nút size sẽ được thêm bằng JS -->
                                    </div>
                                    <input type="hidden" name="size" id="sizeSelect">
                                </div>
                            </div>
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 respon6">
                                    Màu Sắc
                                </div>
                                <div class="size-204 respon6-next">
                                    <div class="btn-group flex-wrap d-flex gap-2" role="group" id="color-button-group">
                                        <!-- Nút màu sắc sẽ được thêm bằng JS -->
                                    </div>
                                    <input type="hidden" name="color" id="colorSelect">
                                </div>
                            </div>

                            <input type="hidden" name="productDetailId" id="productDetailId">

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <!-- Nhóm số lượng và còn hàng -->
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number"
                                               name="num-product" value="1">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                    <span class="remaning-product" style="font-size: 12px"></span>
                                </div>
                            </div>
                            <a href="#" class="stext-102 cl2 hov-cl1 trans-04" data-toggle="modal" data-target="#sizeGuideModal">
                                <i class="fas fa-ruler-horizontal"></i>
                                Hướng dẫn chọn kích cỡ
                            </a>
                            <!-- Đưa nút Thêm vào giỏ xuống dưới -->
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="sizeGuideModal" tabindex="-1" role="dialog" aria-labelledby="sizeGuideModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 90vw;">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="sizeGuideModalLabel">Hướng Dẫn Chọn Kích Cỡ Giày Nam</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="opacity: 1;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="mtext-101 cl2 p-b-10">Cách đo size chân</h6>
                        <ol class="stext-102 cl6">
                            <li>Đặt một tờ giấy xuống sàn, sát vào tường.</li>
                            <li>Đặt chân trần lên tờ giấy, gót chân chạm nhẹ vào tường.</li>
                            <li>Dùng bút đánh dấu điểm xa nhất của ngón chân dài nhất.</li>
                            <li>Dùng thước đo khoảng cách từ mép giấy (chỗ gót chân) đến điểm vừa đánh dấu.</li>
                        </ol>
                        <p class="stext-102 cl6 p-b-20"><strong>Lưu ý:</strong> Nên đo cả hai bàn chân và chọn số đo của chân lớn hơn.</p>

                        <h6 class="mtext-101 cl2 p-b-10">Bảng Quy Đổi Size</h6>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead class="thead-light">
                                <tr>
                                    <th>Chiều dài chân (cm)</th>
                                    <th>Size VN / EU</th>
                                    <th>Size US</th>
                                    <th>Size UK</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr><td>23.5</td><td>39</td><td>6</td><td>5</td></tr>
                                <tr><td>24.1</td><td>39-40</td><td>6.5</td><td>5.5</td></tr>
                                <tr><td>24.4</td><td>40</td><td>7</td><td>6</td></tr>
                                <tr><td>24.8</td><td>40-41</td><td>7.5</td><td>6.5</td></tr>
                                <tr><td>25.4</td><td>41</td><td>8</td><td>7</td></tr>
                                <tr><td>25.7</td><td>41-42</td><td>8.5</td><td>7.5</td></tr>
                                <tr><td>26.0</td><td>42</td><td>9</td><td>8</td></tr>
                                <tr><td>26.7</td><td>42-43</td><td>9.5</td><td>8.5</td></tr>
                                <tr><td>27.0</td><td>43</td><td>10</td><td>9</td></tr>
                                <tr><td>27.3</td><td>43-44</td><td>10.5</td><td>9.5</td></tr>
                                <tr><td>27.9</td><td>44</td><td>11</td><td>10</td></tr>
                                <tr><td>28.3</td><td>44-45</td><td>11.5</td><td>10.5</td></tr>
                                <tr><td>28.6</td><td>45</td><td>12</td><td>11</td></tr>
                                <tr><td>29.4</td><td>46</td><td>13</td><td>12</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="stext-102 cl6 p-t-20"><strong>Ghi chú:</strong> Size có thể thay đổi tùy thương hiệu. Ưu tiên đo thực tế chiều dài chân để chọn đúng.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Đã hiểu</button>
                    </div>
                </div>
            </div>
        </div>


        <!--daay cos au r-->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:inline="javascript"></script>
    <script src="/vendor/slick/slick.min.js"></script>
    <script th:inline="javascript">
        let sizes = /*[[${listSizes}]]*/ [];
        let colors = /*[[${listColors}]]*/ [];
        var productId = /*[[${product.id}]]*/ 'default-value';
        var productCode = /*[[${product.code}]]*/ 'default-value';
        /*]]>*/
        var isUserLoggedIn = /*[[${#authorization.expression('isAuthenticated()')}]]*/ 'abc';

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sizeGroup = document.getElementById("size-button-group");
            const sizeInput = document.getElementById("sizeSelect");

            sizes.forEach(size => {
                const button = document.createElement("button");
                button.type = "button";
                button.className = "btn btn-outline-dark";
                button.textContent = size.name; // hoặc size.ten nếu bạn dùng tiếng Việt
                button.setAttribute("data-id", size.id); // gán id để submit
                button.addEventListener("click", function () {
                    // Bỏ active ở tất cả nút
                    sizeGroup.querySelectorAll("button").forEach(btn => btn.classList.remove("active"));
                    // Active nút hiện tại
                    button.classList.add("active");
                    // Gán giá trị cho input ẩn
                    sizeInput.value = size.id
                    // Gọi xử lý khi chọn kích cỡ
                    handleSizeChange(size.id);
                });
                sizeGroup.appendChild(button);
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const colorGroup = document.getElementById("color-button-group");
            const colorInput = document.getElementById("colorSelect");

            colors.forEach(color => {
                const button = document.createElement("button");
                button.type = "button";
                button.className = "btn btn-outline-dark";
                button.textContent = color.name;
                button.setAttribute("data-id", color.id);

                button.addEventListener("click", function () {
                    // Bỏ active ở tất cả nút
                    colorGroup.querySelectorAll("button").forEach(btn => btn.classList.remove("active"));
                    // Active nút hiện tại
                    button.classList.add("active");
                    // Gán giá trị cho input ẩn
                    colorInput.value = color.id;

                    // Gọi hàm đổi ảnh
                    handleColorChange(color.id);
                });

                colorGroup.appendChild(button);
            });

        });

        var initiallyAvailableColors = [];
        var availableColors = [];
        async function handleSizeChange(sizeId) {
            if ($("#sizeSelect").val() == "") {
                enableAllColorOptions()
                $("#colorSelect").select2()
                return
            }
            else if ($("#colorSelect").val() !== "") {
                loadPrice()
            }
            $('#loading-overlay').show();
            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/colors/${productId}/product/${sizeId}/size`,
                success: function (data) {
                    // Enable all color options first
                    enableAllColorOptions();
                    // Update initially available colors with the current available colors
                    availableColors = data.map(function (color) {
                        return color.id;
                    });
                    // Disable color options that were initially available but are not anymore
                    for (var i = 0; i < initiallyAvailableColors.length; i++) {
                        if (!availableColors.includes(initiallyAvailableColors[i])) {
                            disableColorOption(initiallyAvailableColors[i]);
                        }
                    }

                    $('#colorSelect').select2();
                }
            });
            $('#loading-overlay').hide()
        }
        function formatNumber(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        async function handleColorChange(colorId) {
            if ($("#sizeSelect").val() !== "") {
                // Nếu đã có size thì gọi load giá và tồn kho
                await loadPrice();
            }

            $('#loading-overlay').show();
            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/images/${productId}/product/${colorId}/color`,
                success: function (images) {
                    updateProductImages(images);
                },
                error: function () {
                    console.error("Không tải được ảnh theo màu.");
                },
                complete: function () {
                    $('#loading-overlay').hide();
                }
            });
        }

        function updateProductImages(images) {
            const slickContainer = $(".slick3");
            const dotsContainer = $(".wrap-slick3-dots");

            if (slickContainer.hasClass('slick-initialized')) {
                slickContainer.slick('unslick');
            }
            if (dotsContainer.hasClass('slick-initialized')) {
                dotsContainer.slick('unslick');
            }

            slickContainer.html('');
            dotsContainer.html('');

            const loadImagePromises = [];

            images.forEach((image, index) => {
                const img = new Image();
                img.src = "/" + image.link;

                const loadPromise = new Promise((resolve) => {
                    img.onload = resolve;
                    img.onerror = resolve;
                });
                loadImagePromises.push(loadPromise);

                const mainItem = `
                <div class="item-slick3" data-thumb="/${image.link}" data-slick-index="${index}">
                    <div class="wrap-pic-w pos-relative">
                        <img src="/${image.link}" alt="IMG-PRODUCT">
                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/${image.link}">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                </div>`;

                const dotItem = `
                <div class="item-slick3" data-slick-index="${index}">
                    <img src="/${image.link}" alt="IMG-PRODUCT" />
                </div>`;

                slickContainer.append(mainItem);
                dotsContainer.append(dotItem);
            });

            Promise.all(loadImagePromises).then(() => {
                slickContainer.slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.wrap-slick3-dots'
                });

                dotsContainer.slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    asNavFor: '.slick3',
                    dots: false,
                    focusOnSelect: true,
                    vertical: true,
                    verticalSwiping: true,
                    arrows: false
                });
            });
        }

        async function loadPrice() {
            let sizeId = $("#sizeSelect").val() || sizes[0]?.id;
            let colorId = $("#colorSelect").val() || colors[0]?.id;

            if (!sizeId || !colorId) return;

            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/productDetails/${productId}/product`,
                success: function (data) {
                    const productDetail = data.find(item => item.size.id == sizeId && item.color.id == colorId);
                    if (!productDetail) return;

                    loadRemainingQuantity(productDetail.quantity)

                    if(!productDetail.discountedPrice) {
                        $("#price_product").html(formatNumber(parseFloat(productDetail.price)) + ' đ');
                    } else {
                        const oldPrice = formatNumber(parseFloat(productDetail.price));
                        const discountedPrice = formatNumber(parseFloat(productDetail.discountedPrice));
                        $("#price_product").html(`
                    <span style="font-size: 12px; text-decoration: line-through">${oldPrice} đ</span>
                    <span class="mtext-106 cl2" id="price_product">${discountedPrice} đ</span>
                `);
                    }
                    $("#productDetailId").val(productDetail.id)
                }
            });
        }

        function loadRemainingQuantity(value) {
            if(value == 0) {
                $('.js-name-detail').append('<span style="color:red; border: 1px solid #ddd; font-size: 12px; margin-left: 8px">Hết hàng</span>')
            }
            $(".remaning-product").html(`Còn lại <span id="remaining-quantity" data-quantity="${value}">${value}</span> sản phẩm`)
        }

        $('.num-product').on('keypress', function (e) {
            onlyAllowNumberInput(e)
        })

        $('.num-product').on('focusout', function (e) {
            if($(this).val() == "") {
                $(this).val(1)
            }
        })

        function onlyAllowNumberInput(e) {
            const key = e.key;
            if (key === '-' || key == 0) {
                e.preventDefault();
            }
        }


        async function addToCart() {
            var remainingQuantity = parseInt($("#remaining-quantity").attr('data-quantity'))
            var quantity = parseInt($('.num-product').val())
            if (!checkColorAndSizeSelect()) {
                return;
            }

            if (remainingQuantity == 0) {
                swal("Lỗi", "Sản phẩm có thuộc tính này đã hết hàng", "error");
                return;
            }

            if (quantity > remainingQuantity) {
                swal("Lỗi", "Số lượng thêm vào giỏ hàng lớn hơn số lượng còn", "error");
                return;
            }


            var currentTotalQuantityInCart = parseInt($(".js-show-cart").attr("data-notify"));

            var nameProduct = $('.js-name-detail').text();
            var dataSend = {
                detail: {
                    id: $("#productDetailId").val()
                },
                quantity: quantity
            }

            $('#loading-overlay').show();
            await $.ajax({
                type: 'POST',
                url: '/api/addToCart',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataSend),
                success: function (data) {
                    $('#loading-overlay').hide();
                    swal(nameProduct, "Thêm vào giỏ hàng thành công", "success")

                    if(isUserLoggedIn) {
                        $.ajax({
                            type: 'GET',
                            url:`http://localhost:8080/api/getAllCart`,
                            dataType: 'json',
                            success: function (data) {
                                $(".js-show-cart").attr("data-notify", data.length)
                                localStorage.setItem("cartQuantity", (data.length).toString())
                            }
                        })
                    }
                },
                error: function (xhr, status, error) {
                    $('#loading-overlay').hide();
                    swal("Error", xhr.responseJSON.message, "error")
                    row.find(".num-product").val(1)

                }
            })
        }

        function checkColorAndSizeSelect() {
            if ($("#colorSelect").val() == "" || $("#sizeSelect").val() == "") {
                swal("Error", "Vui lòng chọn màu sắc và kích thước trước khi thêm vào giỏ", "error")
                return false
            }
            return true
        }
    </script>
</div>
</body>
</html>