<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>

    <link rel="icon" type="image/png" th:href="@{/image1/icons/J.png}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/slick/slick.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/MagnificPopup/magnific-popup.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    .wrap-slick3 {
        display: flex;
        align-items: flex-start;
    }

    .wrap-slick3-dots {
        width: 80px;
        margin-right: 20px;
    }

    .slick3 {
        flex: 1;
    }
    .selected {
        background-color: #000 !important;
        color: #fff !important;
        border: 2px solid #000 !important;
    }
</style>
<body>
<div layout:fragment="content">
    <div id="loading-overlay">
        <div class="loading-spinner"></div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yêu cầu đăng nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vui lòng đăng nhập để tiếp tục sử dụng chức năng này.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a href="/user-login" class="btn btn-primary">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="slick3 gallery-lb">
                                <th:block th:each="image : ${product.productDetailDtos[0].images}">
                                    <div class="item-slick3" th:data-thumb="'/' + ${image.link}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img th:src="@{'/' + ${image.link}}" alt="IMG-PRODUCT" />
                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                               th:href="@{'/' + ${image.link}}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14" th:text="${product.name}"></h4>
                        <span class="mtext-106 cl2" id="price_product" th:text="${#numbers.formatDecimal(product.productDetailDtos[0].price, 0, 'POINT', 0, 'COMMA') + ' đ'}"></span>

                        <p class="stext-102 cl3 p-t-23">
                            <span><i class="fa fa-copyright"></i></span> Thương hiệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].brandName}"></span> <br>
                            <span><i class="fa fa-puzzle-piece"></i></span> Chất liệu: <span class="font-weight-bold" th:text="${product.productDetailDtos[0].materialName}"></span> <br>
                            <span><i class="fa fa-cubes"></i></span> Loại: <span class="font-weight-bold" th:text="${product.categoryName}"></span> <br>
                        </p>

                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 respon6">Kích cỡ</div>
                                <div class="size-204 respon6-next">
                                    <div class="btn-group flex-wrap d-flex gap-2" role="group" id="size-button-group"></div>
                                    <input type="hidden" name="size" id="sizeSelect">
                                </div>
                            </div>
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-203 respon6">Màu Sắc</div>
                                <div class="size-204 respon6-next">
                                    <div class="btn-group flex-wrap d-flex gap-2" role="group" id="color-button-group"></div>
                                    <input type="hidden" name="color" id="colorSelect">
                                </div>
                            </div>

                            <input type="hidden" name="productDetailId" id="productDetailId">

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>
                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                    <span class="remaning-product" style="font-size: 12px"></span>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" style="margin-right: 15px;">
                                        Thêm vào giỏ
                                    </button>
                                    <button class="flex-c-m stext-101 cl0 size-101 bg3 bor14 hov-btn3 p-lr-15 trans-04 js-buy-now">
                                        Mua ngay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:inline="javascript"></script>
    <script src="/vendor/slick/slick.min.js"></script>
    <script th:inline="javascript">
        let sizes = /*[[${listSizes}]]*/ [];
        let colors = /*[[${listColors}]]*/ [];
        var productId = /*[[${product?.id}]]*/ null;
        var productCode = /*[[${product?.code}]]*/ null;
        var isUserLoggedIn = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    </script>
    <script>

        function getGuestCart() {
            return JSON.parse(localStorage.getItem('guestCart')) || [];
        }

        function saveGuestCart(cart) {
            localStorage.setItem('guestCart', JSON.stringify(cart));
        }

        document.addEventListener('DOMContentLoaded', function () {
            const sizeGroup = document.getElementById("size-button-group");
            const sizeInput = document.getElementById("sizeSelect");

            sizes.forEach(size => {
                const button = document.createElement("button");
                button.type = "button";
                button.className = "btn btn-outline-dark";
                button.textContent = size.name;
                button.setAttribute("data-id", size.id);
                button.addEventListener("click", function () {
                    sizeGroup.querySelectorAll("button").forEach(btn => btn.classList.remove("active"));
                    button.classList.add("active");
                    sizeInput.value = size.id;
                    handleSizeChange(size.id);
                });
                sizeGroup.appendChild(button);
            });

            const colorGroup = document.getElementById("color-button-group");
            const colorInput = document.getElementById("colorSelect");

            colors.forEach(color => {
                const button = document.createElement("button");
                button.type = "button";
                button.className = "btn btn-outline-dark";
                button.textContent = color.name;
                button.setAttribute("data-id", color.id);
                button.addEventListener("click", function () {
                    colorGroup.querySelectorAll("button").forEach(btn => btn.classList.remove("active"));
                    button.classList.add("active");
                    colorInput.value = color.id;
                    handleColorChange(color.id);
                });
                colorGroup.appendChild(button);
            });
        });

        function enableAllColorOptions() {
            $("#color-button-group button").prop("disabled", false).removeClass("disabled");
        }

        function disableColorOption(colorId) {
            $(`#color-button-group button[data-id="${colorId}"]`).prop("disabled", true).addClass("disabled");
        }

        var initiallyAvailableColors = [];
        var availableColors = [];
        async function handleSizeChange(sizeId) {
            if ($("#sizeSelect").val() == "") {
                enableAllColorOptions();
                return;
            } else if ($("#colorSelect").val() !== "") {
                loadPrice();
            }
            $('#loading-overlay').show();
            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/colors/${productId}/product/${sizeId}/size`,
                success: function (data) {
                    enableAllColorOptions();
                    availableColors = data.map(function (color) {
                        return color.id;
                    });
                    for (var i = 0; i < initiallyAvailableColors.length; i++) {
                        if (!availableColors.includes(initiallyAvailableColors[i])) {
                            disableColorOption(initiallyAvailableColors[i]);
                        }
                    }
                },
                error: function () {
                    console.error("Không tải được danh sách màu sắc.");
                },
                complete: function () {
                    $('#loading-overlay').hide();
                }
            });
        }

        function formatNumber(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        async function handleColorChange(colorId) {
            if ($("#sizeSelect").val() !== "") {
                await loadPrice();
            }
            $('#loading-overlay').show();
            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/images/${productId}/product/${colorId}/color`,
                success: function (images) {
                    updateProductImages(images);
                },
                error: function () {
                    console.error("Không tải được ảnh theo màu.");
                },
                complete: function () {
                    $('#loading-overlay').hide();
                }
            });
        }

        function updateProductImages(images) {
            const slickContainer = $(".slick3");
            const dotsContainer = $(".wrap-slick3-dots");

            if (slickContainer.hasClass('slick-initialized')) {
                slickContainer.slick('unslick');
            }
            if (dotsContainer.hasClass('slick-initialized')) {
                dotsContainer.slick('unslick');
            }

            slickContainer.html('');
            dotsContainer.html('');

            const loadImagePromises = [];
            images.forEach((image, index) => {
                const img = new Image();
                img.src = "/" + image.link;
                const loadPromise = new Promise((resolve) => {
                    img.onload = resolve;
                    img.onerror = resolve;
                });
                loadImagePromises.push(loadPromise);

                const mainItem = `
                    <div class="item-slick3" data-thumb="/${image.link}" data-slick-index="${index}">
                        <div class="wrap-pic-w pos-relative">
                            <img src="/${image.link}" alt="IMG-PRODUCT">
                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/${image.link}">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>`;
                const dotItem = `
                    <div class="item-slick3" data-slick-index="${index}">
                        <img src="/${image.link}" alt="IMG-PRODUCT" />
                    </div>`;
                slickContainer.append(mainItem);
                dotsContainer.append(dotItem);
            });

            Promise.all(loadImagePromises).then(() => {
                slickContainer.slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.wrap-slick3-dots'
                });
                dotsContainer.slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    asNavFor: '.slick3',
                    dots: false,
                    focusOnSelect: true,
                    vertical: true,
                    verticalSwiping: true,
                    arrows: false
                });
            });
        }

        async function loadPrice() {
            await $.ajax({
                type: 'GET',
                dataType: "json",
                url: `/productDetails/${productId}/product`,
                success: function (data) {
                    const productDetail = data.find(item => item.size.id == $("#sizeSelect").val() && item.color.id == $("#colorSelect").val());
                    loadRemainingQuantity(productDetail.quantity);
                    if (!productDetail.discountedPrice) {
                        $("#price_product").text(formatNumber(parseFloat(productDetail.price)) + ' đ');
                    } else {
                        const oldPrice = formatNumber(parseFloat(productDetail.price));
                        const discountedPrice = formatNumber(parseFloat(productDetail.discountedPrice));
                        $("#price_product").html(`
                            <span style="font-size: 12px; text-decoration: line-through">${oldPrice} đ</span>
                            <span class="mtext-106 cl2" id="price_product">${discountedPrice} đ</span>
                        `);
                    }
                    $("#productDetailId").val(productDetail.id);
                }
            });
        }

        function loadRemainingQuantity(value) {
            if (value == 0) {
                $('.js-name-detail').append('<span style="color:red; border: 1px solid #ddd; font-size: 12px; margin-left: 8px">Hết hàng</span>');
            }
            $(".remaning-product").html(`Còn lại <span id="remaining-quantity" data-quantity="${value}">${value}</span> sản phẩm`);
        }

        $('.num-product').on('keypress', function (e) {
            onlyAllowNumberInput(e);
        });

        $('.num-product').on('focusout', function (e) {
            if ($(this).val() == "") {
                $(this).val(1);
            }
        });

        function onlyAllowNumberInput(e) {
            const key = e.key;
            if (key === '-' || key == 0) {
                e.preventDefault();
            }
        }

        async function addToCart() {
            $('#loading-overlay').show();

            // Kiểm tra đăng nhập
            const response = await $.ajax({
                type: 'GET',
                url: '/api/check-login',
                dataType: 'json'
            }).catch(function (error) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể kiểm tra trạng thái đăng nhập. Vui lòng thử lại.", "error");
                return null;
            });

            if (!response) return;

            if (!checkColorAndSizeSelect()) {
                $('#loading-overlay').hide();
                return;
            }

            var quantity = parseInt($('.num-product').val());
            var productDetailId = $("#productDetailId").val();
            var nameProduct = $('.js-name-detail').text();

            if (isNaN(quantity) || quantity <= 0) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Số lượng sản phẩm phải lớn hơn 0", "error");
                $('.num-product').val(1);
                return;
            }

            if (!productDetailId) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Vui lòng chọn kích thước và màu sắc hợp lệ.", "error");
                return;
            }

            if (!response.loggedIn) {
                // Khách vãng lai: Lưu vào localStorage
                let guestCart = getGuestCart();
                const existingItem = guestCart.find(item => item.productDetailId === productDetailId);
                if (existingItem) {
                    existingItem.quantity += quantity;
                } else {
                    guestCart.push({ productDetailId, quantity });
                }
                saveGuestCart(guestCart);
                $('#loading-overlay').hide();
                Swal.fire({
                    title: nameProduct,
                    text: "Thêm vào giỏ hàng thành công",
                    icon: "success",
                    showCancelButton: true,
                    confirmButtonText: "Đi đến giỏ hàng",
                    cancelButtonText: "Tiếp tục mua sắm"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/shoping-cart';
                    }
                });
                updateCartNotification(guestCart.length);
                return;
            }

            // Khách đã đăng nhập: Logic hiện tại
            var customerId = response.customerId;
            if (!customerId) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể xác định thông tin khách hàng", "error");
                return;
            }

            var remainingQuantity = parseInt($("#remaining-quantity").attr('data-quantity'));
            if (isNaN(remainingQuantity) || remainingQuantity === undefined) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không xác định được số lượng tồn kho", "error");
                $('.num-product').val(1);
                return;
            }
            if (remainingQuantity === 0) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Sản phẩm có thuộc tính này đã hết hàng", "error");
                $('.num-product').val(1);
                return;
            }

            var cartQuantity = 0;
            const cartResponse = await $.ajax({
                type: 'GET',
                url: '/api/getCart',
                dataType: 'json'
            }).catch(function (error) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể lấy thông tin giỏ hàng", "error");
                return null;
            });
            if (!cartResponse) return;

            const cartItem = cartResponse.items.find(item => item.productDetailId === parseInt(productDetailId));
            cartQuantity = cartItem ? cartItem.quantity : 0;

            var totalQuantity = quantity + cartQuantity;
            if (totalQuantity > remainingQuantity) {
                $('#loading-overlay').hide();
                Swal.fire({
                    title: "Lỗi",
                    text: `Tổng số lượng (${totalQuantity}) vượt quá số lượng tồn kho (${remainingQuantity})`,
                    icon: "error"
                });
                $('.num-product').val(remainingQuantity - cartQuantity > 0 ? remainingQuantity - cartQuantity : 1);
                return;
            }
            if (totalQuantity > 20) {
                $('#loading-overlay').hide();
                Swal.fire({
                    title: "Lỗi",
                    text: `Tổng số lượng của sản phẩm này không được vượt quá 20`,
                    icon: "error"
                });
                $('.num-product').val(20 - cartQuantity > 0 ? 20 - cartQuantity : 1);
                return;
            }

            var dataSend = {
                customerId: customerId,
                productDetailId: productDetailId,
                quantity: quantity
            };

            await $.ajax({
                type: 'POST',
                url: '/api/addToCart',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(dataSend),
                success: function () {
                    $('#loading-overlay').hide();
                    Swal.fire({
                        title: nameProduct,
                        text: "Thêm vào giỏ hàng thành công",
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonText: "Đi đến giỏ hàng",
                        cancelButtonText: "Tiếp tục mua sắm"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/shoping-cart';
                        }
                    });
                    $.ajax({
                        type: 'GET',
                        url: '/api/getCart',
                        dataType: 'json',
                        success: function (data) {
                            $(".js-show-cart").attr("data-notify", data.items.length);
                            localStorage.setItem("cartQuantity", data.items.length.toString());
                        },
                        error: function () {
                            console.error("Không thể cập nhật số lượng giỏ hàng");
                        }
                    });
                },
                error: function (xhr) {
                    $('#loading-overlay').hide();
                    let errorMessage = "Không thể thêm vào giỏ hàng. Vui lòng thử lại.";
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        errorMessage = xhr.responseJSON.message;
                    }
                    Swal.fire({
                        title: "Lỗi",
                        text: errorMessage,
                        icon: "error"
                    });
                    $('.num-product').val(1);
                }
            });
        }

        async function buyNow() {
            $('#loading-overlay').show();

            const response = await $.ajax({
                type: 'GET',
                url: '/api/check-login',
                dataType: 'json'
            }).catch(function (error) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể kiểm tra trạng thái đăng nhập. Vui lòng thử lại.", "error");
                return null;
            });
            if (!response) return;

            if (!checkColorAndSizeSelect()) {
                $('#loading-overlay').hide();
                return;
            }

            var quantity = parseInt($('.num-product').val());
            var productDetailId = $("#productDetailId").val();

            if (isNaN(quantity) || quantity <= 0) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Số lượng sản phẩm phải lớn hơn 0", "error");
                $('.num-product').val(1);
                return;
            }
            if (!productDetailId) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Vui lòng chọn kích thước và màu sắc hợp lệ.", "error");
                return;
            }

            if (!response.loggedIn) {
                // Khách vãng lai: Lưu vào localStorage và chuyển đến checkout
                let guestCart = getGuestCart();
                const existingItem = guestCart.find(item => item.productDetailId === productDetailId);
                if (existingItem) {
                    existingItem.quantity += quantity;
                } else {
                    guestCart.push({ productDetailId, quantity });
                }
                saveGuestCart(guestCart);
                $('#loading-overlay').hide();
                window.location.href = '/checkout';
                return;
            }

            // Khách đã đăng nhập: Logic hiện tại
            var customerId = response.customerId;
            if (!customerId) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể xác định thông tin khách hàng", "error");
                return;
            }

            var remainingQuantity = parseInt($("#remaining-quantity").attr('data-quantity'));
            if (isNaN(remainingQuantity) || remainingQuantity === undefined) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không xác định được số lượng tồn kho", "error");
                $('.num-product').val(1);
                return;
            }
            if (remainingQuantity === 0) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Sản phẩm có thuộc tính này đã hết hàng", "error");
                $('.num-product').val(1);
                return;
            }

            var cartQuantity = 0;
            const cartResponse = await $.ajax({
                type: 'GET',
                url: '/api/getCart',
                dataType: 'json'
            }).catch(function (error) {
                $('#loading-overlay').hide();
                Swal.fire("Lỗi", "Không thể lấy thông tin giỏ hàng", "error");
                return null;
            });
            if (!cartResponse) return;

            const cartItem = cartResponse.items.find(item => item.productDetailId === parseInt(productDetailId));
            cartQuantity = cartItem ? cartItem.quantity : 0;

            var totalQuantity = quantity + cartQuantity;
            if (totalQuantity > remainingQuantity) {
                $('#loading-overlay').hide();
                Swal.fire({
                    title: "Lỗi",
                    text: `Tổng số lượng (${totalQuantity}) vượt quá số lượng tồn kho (${remainingQuantity})`,
                    icon: "error"
                });
                $('.num-product').val(remainingQuantity - cartQuantity > 0 ? remainingQuantity - cartQuantity : 1);
                return;
            }
            if (totalQuantity > 20) {
                $('#loading-overlay').hide();
                Swal.fire({
                    title: "Lỗi",
                    text: `Tổng số lượng của sản phẩm này không được vượt quá 20`,
                    icon: "error"
                });
                $('.num-product').val(20 - cartQuantity > 0 ? 20 - cartQuantity : 1);
                return;
            }

            var dataSend = {
                customerId: customerId,
                productDetailId: productDetailId,
                quantity: quantity
            };

            await $.ajax({
                type: 'POST',
                url: '/api/addToCartAndCheckout',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(dataSend),
                success: function () {
                    $('#loading-overlay').hide();
                    window.location.href = '/checkout';
                },
                error: function (xhr) {
                    $('#loading-overlay').hide();
                    let errorMessage = "Không thể thêm sản phẩm để thanh toán. Vui lòng thử lại.";
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        errorMessage = xhr.responseJSON.message;
                    }
                    Swal.fire({
                        title: "Lỗi",
                        text: errorMessage,
                        icon: "error"
                    });
                    $('.num-product').val(1);
                }
            });
        }

        function updateCartNotification(count) {
            $(".js-show-cart").attr("data-notify", count);
            localStorage.setItem("cartQuantity", count.toString());
        }

        $(document).ready(function () {
            $('.js-addcart-detail').on('click', addToCart);
            $('.js-buy-now').on('click', buyNow);
        });

        function checkColorAndSizeSelect() {
            if ($("#colorSelect").val() == "" || $("#sizeSelect").val() == "") {
                Swal.fire("Lỗi", "Vui lòng chọn màu sắc và kích thước trước khi tiếp tục.", "error");
                return false;
            }
            return true;
        }
    </script>
</div>
</body>
</html>